<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>STUDIO GHIBLI</title>
</head>
<body>
    <h1>The Studio Ghibli Experience</h1>
    <section>
        <h2>Search</h2>
            Filter:
            <select>
                <option>Film</option>
                <option>Person</option>
                <option>Location</option>
                <option>Species</option>
                <option>Vehicle</option>
            </select>
        <div><input name="query"></div>
        <div><input type="submit"></div>
    </section>
</body>
</html>