<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>The Studio Ghibli Experience</h1>
  <section>
    <h2>Search</h2>
    <form method="post" action="/search">
      Filter:
      <select name= "filter">
        <option value="films">Film</option>
        <option value="people">Person</option>
        <option value="locations">Location</option>
        <option value="species">Species</option>
        <option value="vehicles">Vehicle</option>
      </select>
      <div><input name="query"></div>
      <div><input type="submit"></div>
    </form>
  </section>
</body>
</html>